body {
  color:white;
  background-color:black;
}
header {
  color:orange;
  font-size:40pt;
}
h1 {
  font-size: 28pt;
  color:ghostwhite;
  text-decoration: underline;
}
p {
  font-size:15pt;
  color: ghostwhite;
}
img {
  width: 600;
  height: 400;
}
#center {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display:block;
}
title {
  text-align: center;
}
footer p {
  text-align: center;
  font-size: 8pt;
}
.leftside h2{
  font-style: italic;
}
.leftside {
  width: 25%;
  float:left;
  display:block;
  padding-top: 130px;
  padding-right: 2%;
  font-family:fantasy;
  font-size: 8pt;

}
.middlepart {
  width: 73%;
  float:left;
  display:block;
}
